.celenderHead {
  position: sticky;
  top: 0;
}

.calenderBody {
  display: flex;
}

.gap {
  gap: 3rem;
}
.col {
  flex: 0 0 14.28%; /* 12.5% width of the total container */
  max-width: 14.28%;
  /* padding: 0; */
  display: flex;
  justify-content: end;
  border: 1px solid black;
  height: 17vh;
}
.end {
  display: flex;
  justify-content: end;
}
.monthBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 17vh;
}
.monthName {
  position: sticky;
  left: 0;
  z-index: 10;
}
.fontColor{
  color: rgb(192, 19, 19);
  font-size: 50px !important;
  font-weight: 900;
}
